<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {{form.errors}}

    Title:<input type="text" name="title"/><br><br>
    Posted By:<input type="text" name="posted_by"/><br><br>
    Description:<input type="text" name="qn_desc"/><br><br>
    Image:<input type="file" name="qn_image"/><br><br>
    Category:<br><select name="category">

        {{category}}
        {% for cat in category %}
        <option value="{{cat.id}}">{{cat.ctitle}}</option>
        {% endfor %}
        </select>
        <br><br>
    Votes:<input type="hidden" name="qn_votes" value='0'/><br><br>
    
    <input type="submit" value="submit"/><br>

</form>



